.home-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    align-items: center;
    min-width: calc(80% - 250px);
}

.carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-width: calc(100% - 250px);
    border: 1px solid #D8C3A5;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.slide-block {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: calc(100% - 40px);
    height: 400px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 5px;
    transition: background-image 1s ease-in-out;
}

.btn-next, .btn-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #EAE7DC;
    border: 1px solid #D8C3A5;
    border-radius: 2px;
    font-size: 20px;
    color: #D8C3A5;
    cursor: pointer;
}

.btn-next img, .btn-prev img {
    opacity: 0.5;
    width: 25px;
    height: 25px;
}

.btn-next img:hover, .btn-prev img:hover {
    opacity: 1;
}

.slider-text {
    display: flex;
    flex-flow: wrap column;
    min-width: 460px;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-shadow: 2px 0 2px black;
}

.slider-text h3 {
    font-size: 30px;
    margin : 0 auto;
}

.slider-text p {
    margin-bottom: 30px;
    font-size: 20px;
}

.hits {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.hits a {
    text-decoration: none;
    color: #494949;
    cursor: pointer;
    margin-bottom: 20px;
}

.hits a:hover {
    background-color: #EAE7DC;
    border-radius: 10px;
}

.best-book {
    margin: 20px;
    width: 250px;
}

.best-book .book-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.best-book .book-data {
    display: flex;
    flex-direction: column;
}

.best-book .book-data p {
    margin: 5px;
}

.best-book .book-data p:last-child {
    font-family: 'Sanches-bold', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Sanches-bold', sans-serif;
    margin-bottom: 20px;
}