.specific-book{
    margin: 20px;
    padding: 10px;
}

.specific-book .book-image, a .book-image {
    display: flex;
    justify-content: center;
}

a li {
    list-style-type: none;
}

a li span {
    font-family: 'Sanches-bold', sans-serif;
    color: #494949;
}

.book-data {
    margin-left: 20px;
}

.book-data p {
    margin-block-start: 10px;
    margin-block-end: 10px;
}
