@font-face {
    font-family: 'Sanches-regular';
    src: url('../fonts/SanchezSlab.otf') format('OpenType');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sanches-bold';
    src: url('../fonts/SanchezSlab-Bold.otf') format('OpenType');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Sanches-regular', sans-serif;
    margin: 0 auto;
}

#aside-root-container{
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: row;
}

#root {
    width: 85%;
    height: 100%;
    position: relative;
}

#books-menu ul {
    margin-block-start: 40px;
    padding-inline-start: 20px;
}

#books-menu .category-books-menu {
    display: block;
    text-decoration: none;
    color: #494949;
    width: 100%;
    height: 25px;
}

#books-menu li:hover {
    text-decoration: none;
    color: #494949;
    width: calc(100% - 30px);
    background-color: #D8C3A5;
    cursor: pointer;
}

#books-menu li {
    display: block;
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

#books-menu {
    width: 15%;
    min-width: 190px;
    background-color: #EAE7DC;
    min-height: 100%;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown img {
    width: 10px;
    height: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100px;
    left: 14%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.comics {
    display: none;
    position: absolute;
    top: 320px;
    left: 14%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #D8C3A5;
}

.dropdown:hover .dropdown-content {
    display: block;
}