.fav-basket-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    width: 650px;
}

.fav-basket-list-container div {
    margin-right: 15px;
}

.fav-temp-img {
    width: 40px;
    margin-right: 20px;
}

.fav-btn-delete {
    font-size: 16px;
    background-color: #D8C3A5;
    border: 1px solid #D8C3A5;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}

.fav-book-name {
    width: 250px;
}

.fav-book-authors {
    display: flex;
    flex-direction: column;
    width: 150px;
}